.burger-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.burger-line {
    width: 50px;
    height: 6px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

/* x-burger */
.x-burger {
    border-radius: 5px;
}

.x-burger::before,
.x-burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.x-burger::before {
    transform: translateY(-16px);
}

.x-burger::after {
    transform: translateY(16px);
}

/* Animation */
.x-burger-btn.open .x-burger {
    transform: translateX(-50px);
    background: transparent;
}

.x-burger-btn.open .x-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.x-burger-btn.open .x-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* coincide-burger */
.coincide-btn {
    position: relative;
    transition: 1s;
}

.coincide-burger {
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.coincide-1 {
    top: 40px;
    transition: 0.5s;
}

.coincide-3 {
    bottom: 40px;
    transition: 0.5s;
}

/* two-burger */
.two-btn {
    position: relative;
}
.two-burger {
    border-radius: 10px;
    position: absolute;
    transition: 0.5s;
    width: 50px;
    height: 6px;
}

.two-top {
    top: 50px;
    background-color: #fff;
}

.two-bottom {
    bottom: 50px;
    background-color: #fff;
}

/* menu-burger */
.menu-btn {
    position: relative;
}

.menu-burger {
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #fff;
}

.menu-top {
    top: 40px;
    transform-origin: top left;
    transition: 0.4s;
}
.menu-mid {
    transform-origin: top right;
    transition: 0.4s;
}

.menu-bottom {
    bottom: 40px;
}

.line-none {
    transform: scaleX(0);
}

.menu-text {
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    bottom: 0px;
    transition: 0.5s;
    animation-delay: 1s;
}

.menu-text.open {
    animation: pop-text 1s forwards;
}

@keyframes pop-text {
    0% {
        bottom: 0px;
        transform: rotateX(0);
    }
    40% {
        bottom: 50px;
        transform: rotate(-30deg);
    }
    70% {
        bottom: 30px;
        transform: rotate(15deg);
    }
    100% {
        bottom: 30px;
        transform: rotate(0);
    }
}

/* plus-burger */
.plus-btn {
    position: relative;
}

.plus-burger {
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}

.plus-top {
    top: 40px;
}

.plus-mid {
    transition: 0.5s;
}

.plus-bottom {
    bottom: 40px;
}

.plus-top.open {
    animation: plus-open-t 0.8s forwards;
}

.plus-bottom.open {
    animation: plus-open-b 0.8s forwards;
}

.plus-top.close {
    animation: plus-close-t 0.8s forwards;
}

.plus-bottom.close {
    animation: plus-close-b 0.8s forwards;
}

@keyframes plus-open-t {
    0% {
        top: 40px;
    }
    40% {
        top: 57px;
        transform: rotate(0);
    }
    90% {
        top: 57px;
        transform: rotate(90deg);
    }
    100% {
        top: 57px;
        transform: rotate(45deg);
    }
}

@keyframes plus-open-b {
    0% {
        bottom: 40px;
    }
    40% {
        bottom: 57px;
        transform: rotate(0);
    }
    90% {
        bottom: 57px;
        transform: rotate(0);
    }
    100% {
        bottom: 57px;
        transform: rotate(-45deg);
    }
}

@keyframes plus-close-t {
    0% {
        top: 57px;
        transform: rotate(45deg);
    }
    60% {
        top: 57px;
        transform: rotate(0);
    }
    100% {
        top: 40px;
    }
}

@keyframes plus-close-b {
    0% {
        bottom: 57px;
        transform: rotate(-45deg);
    }
    60% {
        bottom: 57px;
        transform: rotate(0);
    }
    100% {
        bottom: 40px;
    }
}
